<nav>
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebar">
        <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
          <span class="logo-img"></span>
        </a>

        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
              <fa-icon icon="home"></fa-icon>
              <span>Trang chủ</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="quan-ly-thong-so" (click)="collapseNavbar()">
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Quản lý thông số</span>
              <fa-icon icon="chevron-down"></fa-icon>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="thiet-bi" (click)="collapseNavbar()">
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Quản lý thiết bị</span>
              <fa-icon icon="chevron-down"></fa-icon>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="kich-ban" (click)="collapseNavbar()">
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Quản lý kịch bản</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="san-xuat-hang-ngay" (click)="collapseNavbar()">
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Sản xuất hàng ngày</span>
            </a>
          </li>

          <li 
          class="nav-item"
          ngbDropdown
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"

          >
            <a 
            class="nav-link dropdown-toggle"
            ngbDropdownToggle
            href="javascript:void(0)" 
            id="account-menu"
            data-cy="accountMenu">
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Tem in</span>
            </a>
            <ul>
              <li>
                <a href="">
                  <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                  <span>Cài đặt</span>
                </a>
              </li>
              <li><a href="">Quản lý phê duyệt</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="lenh-san-xuat" (click)="collapseNavbar()">
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Thông tin tem sản xuất</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="chi-tiet-lenh-san-xuat" (click)="collapseNavbar()">
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Quản lý phê duyệt</span>
            </a>
          </li>

        </ul>

        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          style="list-style-type: none;"
          (click)="toggleDropDown()"
        >
        <a 
          class="nav-link dropdown-toggle" 
          ngbDropdownToggle 
          href="javascript:void(0);" 
          id="account-menu" 
          data-cy="accountMenu">
            <span *ngIf="!account?.imageUrl">
              <fa-icon icon="user"></fa-icon>
              <span>Tài khoản</span>
            </span>
            <span *ngIf="account?.imageUrl">
              <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
            </span>
          </a>

         <ul>
          <li >
            <a
                class="dropdown-item"
                routerLink="account/settings"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="settings"
              >
                <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                <span>Cài đặt</span>
              </a>
            </li>
          <li>
            <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                <span>Đăng xuất</span>
              </a>
            </li>
         </ul>
      </nav>
    </div>



    <!-- <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span class="navbar-title">Rạng Đông</span>
    </a> -->
    <!-- <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
    <h1>công ty cổ phần bóng đèn và phích nước rạng đông</h1>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="home"></fa-icon>
              <span>Home</span>
            </span>
          </a>
        </li>
        
        <li
          *ngSwitchCase="true"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
            <span>
              <fa-icon icon="th-list"></fa-icon>
              <span>Entities</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="thiet-bi"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Thiet Bi</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="thong-so-may"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Thong So May</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="san-xuat-hang-ngay"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>San Xuat Hang Ngay</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="chi-tiet-san-xuat"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Chi Tiet San Xuat</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="lich-su-update"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Lich Su Update</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="chi-tiet-lich-su-update"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Chi Tiet Lich Su Update</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="kich-ban"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Kich Ban</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="chi-tiet-kich-ban"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Chi Tiet Kich Ban</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="quan-ly-thong-so"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Quan Ly Thong So</span>
              </a>
            </li>
            
          </ul>
        </li>
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
            <span>
              <fa-icon icon="users-cog"></fa-icon>
              <span>Administration</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span>User management</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                <span>Metrics</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                <span>Health</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span>Configuration</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                <span>Logs</span>
              </a>
            </li>
            <li *ngIf="openAPIEnabled">
              <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span>API</span>
              </a>
            </li>
           
          </ul>
        </li>
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
            <span *ngIf="!account?.imageUrl">
              <fa-icon icon="user"></fa-icon>
              <span>Account</span>
            </span>
            <span *ngIf="account?.imageUrl">
              <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/settings"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="settings"
              >
                <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                <span>Settings</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/password"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="passwordItem"
              >
                <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                <span>Password</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                <span>Sign out</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                <span>Sign in</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div> -->
  </div>
</nav>
